*{
    font-family: "Arial";
}

.header {
    color:#f9faf8;
    font-size:18px;
    display: flex;
    flex-direction: row;
    Justify-content: space-between;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px 20px;  
}

.header-links {
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    align-self: flex-end;
    width:auto;
    gap:15px;
    padding:10px 20px;  
}

ul {
    list-style-type: none;
}

body{
    padding:0 10%;
    
}